@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --color-primary: #ec4899;
  /* Pink 500 */
  --color-primary-dark: #db2777;
  /* Pink 600 */
  --color-secondary: #fdf2f8;
  /* Pink 50 */
  --color-accent: #831843;
  /* Pink 900 */
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #1e293b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}